<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<div id="replace" th:replace="base::title"></div>
</head>
<body>
	<div id="replace" th:replace="base::header"></div>
	<h2>科目情報登録</h2>
	<form method="post" th:action="@{/CreateSubject}" th:object="${item}">
		<input type="hidden" class="form-control"  value="AAA" th:field="${item.schoolCd}"/>
		<label for="subjectCd">科目コード</label>
		<input type="text" placeholder="科目コードを入力してください" class="form-control" th:field="${item.subjectCd}">
		<label for="subjectName">科目名</label>
		<input type="text" placeholder="科目名を入力してください" class="form-control" th:field="${item.subjectName}">
		<input type="hidden" class="form-control" value="true" th:field="${item.isDelete}"/>
		<input type="submit" class="btn btn-primary"value="登録"/>
	</form>
	<a href="SubjectIndex">戻る</a>
</body>
</html>