<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>学生管理</h2>
	<table border="1">
		<thead>
			<tr>
				<th>学生番号</th>
				<th>学生名</th>
				<th>入学年度</th>
				<th>クラス番号</th>
				<th>在学中</th>
				<th>学校コード</th>
				<th>編集</th>
				<th>削除</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item : ${studentlist}">
				<th:block th:if="${item.isAttend == true}">
					<td th:text="${item.studentNo}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.entYear}"></td>
					<td th:text="${item.classNum}"></td>
					<td th:text="${item.isAttend} ? '〇' : '×'"></td>
					<td th:text="${item.schoolCd}"></td>
					<td><a th:href="@{'/studentUpdate/'+${item.id}}">編集</a></td>
					<td><a th:href="@{'/studentDelete/'+${item.id}}">削除</a></td>
				</th:block>
			</tr>
		</tbody>
	</table>
</body>
</html>